a {
    color: var(--anchor);
    transition: opacity var(--transition);
    font-weight: bold;
}

a:hover {
    opacity: 0.7;
}

.active{
    font-weight: bold;
}

header {
    /* background-color: brown; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-evenly;
    /* gap: 20%; */
    margin-bottom: 50px;
    background-color: rgb(117, 117, 117);
}

header > .logo > a > img {
    height: 170px;
    padding-right: 1em;
}

header > .actions {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    gap: 25px;
}

header > .actions > a:hover{
    color: var(--card-title);
}

header > .login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 50px;
}

header > .login > a {
    font-size: 16px;
}

.sininho{
    width: 10px;
    height: 10px;
}

header > .login > a:hover{
    color: var(--card-title);
}

header > .actions > .search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 10px;
}

header > .actions > .search > input {
    padding: 10px 13px;
    border: none;
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 500px;
    font-size: 15px;
}

header > .actions > .search > input::placeholder {
    padding: 10px 13px;
    color: var(--card-title);
}

header > .actions > .search > a > button {
    cursor: pointer;
    width: fit-content;
    background-color: transparent;
    border: none;
    transition: color var(--transition);
}

header > .actions > .search > a > button:hover {
    color: var(--card-title);
}

header > .actions > .search > a > button > svg {
    width: 20px;
}

header > .actions > nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
}

header > .actions > nav > a {
    font-size: 1.3em;
}

header > .actions > nav > a:hover{
    color: var(--card-title);
}
