body {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    padding: 30px 40px;
    height: 80vh;
}

body > main > table{
    height: 50vh;
    width: 70vw;
    margin-left: 13rem;
}

.topo-tabela{
    color: black;
}

.coluna{
    color: gray;
}

td{
    width: 15rem;
    height: 4rem;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
