:root {
    --background: #075472b6;
    --anchor: #000000;
    --title: #000000;
    --card-background: rgb(0, 0, 0);
    --card-title: #D5CC81;
    --border-radius: 5px;
    --transition: 0.2s ease-in-out;
}